body {
  padding: 1rem;
}

img{
  width: 150px;
  height: 200px;
}
.first_block {
  display: flex;
  flex-direction: row;
}

.first_block a,
p {
  padding: 0 1rem 0 0;
}

.wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.inside_wrapper {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
}

h4 {
  color: #33b9ff;
}

a:link,
a:visited {
  color: darkblue;
}

.languages span {
  margin-left: 1rem;
}

@media (max-width: 425px) {
  .languages {
    display: flex;
    flex-direction: column;
  }

  .languages span {
    display: none;
  }
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.footer img{
  width: 50px;
  height: 25px;
}
